@{
    ViewData["Title"] = "Privazia Polizia";
}

<div class="text-center">
<h1>@ViewData["Title"]</h1>
<p>Tutti i film che inserisci su quest'applicazione saranno inseriti su quest'applicazione.</p>
</div>